* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.checkout {
    background: #F5F5F5;
    position: relative;

    &::before {
        content: '';
        background-image: url(../assets/background.svg);
        width: 684px;
        height: 1139.52px;
        display: block;
        position: absolute;
        top: 641px;

        @media(min-width:769px) and (max-width: 1440px) {
            display: none;
        }

        @media(min-width:321px) and (max-width: 768px) {
            width: 296px;
            height: 492px;
            top: 1300px;
            background-image: url(../assets/background-tablet.svg);
        }

        @media(max-width: 320px) {
            display: none;
        }
    }

    &__container {
        display: flex;
        column-gap: 124px;
        margin: 0 auto;
        padding-left: 245px;

        @media(min-width:769px) and (max-width: 1440px) {
            display: flex;
            margin: 0 auto;
            padding-left: 204px;
        }

        @media(min-width:321px) and (max-width: 768px) {
            column-gap: 3px;
            padding-left: 18px;
            padding-right: 16px;
        }

        @media(max-width: 320px) {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }

    &__arrow {
        margin-left: 141px;
        width: 33px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media(min-width:769px) and (max-width: 1440px) {
            margin-left: 100px;
        }

        @media(min-width:321px) and (max-width: 768px) {
            display: none;
        }

        @media(max-width: 320px) {
            display: none;
        }
    }

    &__section {
        &:first-of-type {
            display: flex;
            column-gap: 84px;

            @media(min-width:769px) and (max-width: 1440px) {
                display: block;
            }

            @media(min-width:321px) and (max-width: 768px) {
                display: block;
                order: 1;
            }

            @media(max-width: 320px) {
                display: block;
                order: 1;
            }
        }

        &:last-of-type {
            max-width: 526px;
            width: 100%;

            @media(min-width:321px) and (max-width: 768px) {
                max-width: 356px;
            }

            @media(max-width: 320px) {
                max-width: 320px;
            }
        }
    }
}

.address {
    background: rgba(255, 255, 255, 0.5);
    padding: 21px 31px 21px 28px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 421px;
    width: 100%;

    @media(min-width:769px) and (max-width: 1440px) {
        margin-bottom: 13px;
    }

    @media(min-width:321px) and (max-width: 768px) {
        padding: 21px 6px 21px 9px;
        max-width: 375px;
        width: 100%;
    }

    @media(max-width: 320px) {
        padding: 18px 26px 13px 18px;
        row-gap: 15px;
    }

    &__title {
        display: flex;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;

        @media(max-width: 320px) {
            font-size: 11px;
            line-height: 13px;
        }

        &-mrs {
            border: 1px solid #000000;
            border-radius: 6px 0px 0px 6px;
            padding: 13.5px 20px;

            @media(max-width: 320px) {
                border-radius: 4.5px 0px 0px 4.5px;
                padding: 10px 16px;
            }
        }

        &-mr {
            color: #fff;
            background: #000000;
            border-radius: 0px 6px 6px 0px;
            border: 1px solid #000000;
            padding: 13.5px 24px;

            @media(max-width: 320px) {
                border-radius: 0px 4.5px 4.5px 0px;
                padding: 10px 19px;
            }
        }
    }

    &__input {
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(130, 130, 130, 0.4);
        border-radius: 6px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 18px;
        color: rgba(130, 130, 130, 0.85);
        padding: 15px 0 12px 18px;

        @media(max-width: 320px) {
            font-size: 11px;
            line-height: 13px;
            padding: 11px 0 9px 14px;
        }

        &:focus {
            outline: none;
        }

        &--block {
            display: flex;
            column-gap: 7px;

            @media(max-width: 320px) {
                column-gap: 5px;
            }

            .block-street {
                width: 65%;
            }

            .block-house {
                width: 35%;
            }

            .block-zip {
                width: 45%;
            }

            .block-city {
                width: 55%;
            }
        }
    }

    &__checkbox-group {
        margin-bottom: 33px;

        @media(max-width: 320px) {
            margin-bottom: 40px;
        }
    }

    &__checkbox-wrapper {
        display: grid;
        grid-template-columns: 1em auto;
        gap: 12px;
        padding-top: 5px;
        margin-bottom: 10px;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 18px;

        @media(max-width: 320px) {
            font-size: 10px;
            line-height: 12px;
            gap: 9px;
            margin-bottom: 11px;
            padding-top: 3px;
        }

        .address__checkbox {
            background: rgba(255, 255, 255, 0.5);
            border: 1px solid rgba(112, 112, 112, 0.4);
            width: 16px;
            height: 16px;
            appearance: none;
            display: grid;
            place-content: center;

            @media(max-width: 320px) {
                width: 12px;
                height: 12px;
            }

            &::before {
                content: '';
                display: block;
            }

            &:checked::before {
                width: 7px;
                height: 10px;
                margin: 0px 5px 3px;
                border-bottom: 1px solid #000000;
                border-right: 1px solid #000000;
                transform: rotate(45deg);

                @media(max-width: 320px) {
                    width: 5px;
                    height: 7px;
                }
            }
        }
    }

    &__password {
        display: flex;
        column-gap: 5px;
        margin-left: 28px;

        @media(max-width: 320px) {
            column-gap: 4px;
            margin-left: 18px;
        }

        &-text {
            font-family: 'Montserrat', sans-serif;
            font-size: 10px;
            line-height: 12px;
            color: #828282;

            @media(max-width: 320px) {
                font-size: 8px;
                line-height: 10px;
            }
        }

        &-icon {
            @media(max-width: 320px) {
                width: 10px;
                height: 10px;
                transform: translateY(-0.2em);
            }
        }
    }
}

.payments {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 421px;
    width: 100%;

    @media(min-width:321px) and (max-width: 768px) {
        row-gap: 9px;
        max-width: 375px;
        width: 100%;
    }

    @media(max-width: 320px) {
        row-gap: 0;
    }

    .payment {
        background: rgba(255, 255, 255, 0.5);

        @media(max-width: 320px) {
            border-bottom: 1px solid #FFFFFF;
        }

        &__info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-group {
                display: flex;
                align-items: center;
            }

            &-checkbox-wrapper {
                margin-right: 20px;

                @media(min-width:321px) and (max-width: 768px) {
                    margin-right: 18px;
                }

                @media(max-width: 320px) {
                    margin-right: 15px;
                }

                .payment__info-checkbox {
                    appearance: none;
                    background: rgba(255, 255, 255, 0.5);
                    border: 1px solid rgba(112, 112, 112, 0.4);
                    width: 19px;
                    height: 19px;
                    transform: translateY(-0.3em);
                    display: grid;
                    place-content: center;

                    @media(min-width:321px) and (max-width: 768px) {
                        width: 17px;
                        height: 17px;
                    }

                    @media(max-width: 320px) {
                        width: 19px;
                        height: 19px;
                    }

                    &::before {
                        content: "";
                        width: 19px;
                        height: 19px;
                        transform: scale(0);
                        background-color: #000000;

                        @media(min-width:321px) and (max-width: 768px) {
                            width: 17px;
                            height: 17px;
                        }

                        @media(max-width: 320px) {
                            width: 15px;
                            height: 15px;
                        }
                    }

                    &:checked::before {
                        transform: scale(1);
                    }

                    &:checked {
                        border: 1px solid #000000;
                        width: 25px;
                        height: 25px;

                        @media(min-width:321px) and (max-width: 768px) {
                            width: 23px;
                            height: 23px;
                        }

                        @media(max-width: 320px) {
                            width: 19px;
                            height: 19px;
                        }
                    }
                }
            }

            &-wrapper {
                width: 62px;
                height: 39px;
                border: 1px solid rgba(130, 130, 130, 0.85);
                border-radius: 6px;
                margin: 0 15px 0 23px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;

                @media(min-width:321px) and (max-width: 768px) {
                    width: 55px;
                    height: 35px;
                    border-radius: 5.34px;
                    margin: 0 13px 0 21px;
                }

                @media(max-width: 320px) {
                    width: 47px;
                    height: 29px;
                    border-radius: 4.54px;
                    margin: 0 11px 0 17px;
                }

                .payment__info-icon {
                    @media(min-width:321px) and (max-width: 768px) {
                        width: 32px;
                        height: 26px;
                    }

                    @media(max-width: 320px) {
                        width: 41px;
                        height: 22px;
                    }
                }
            }

            &-text {
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                line-height: 18px;
                color: rgba(0, 0, 0, 0.85);
                margin: 33px 0;

                @media(min-width:321px) and (max-width: 768px) {
                    font-size: 13px;
                    line-height: 16px;
                }

                @media(max-width: 320px) {
                    font-size: 11px;
                    line-height: 14px;
                }
            }

            .wrapper {
                width: 100%;

                .card {
                    margin-bottom: 19px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    @media(min-width:321px) and (max-width: 768px) {
                        margin-bottom: 17px;
                    }
                }

                .payment__form {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    padding: 19px 17px 32px 23px;
                    width: 100%;

                    @media(min-width:321px) and (max-width: 768px) {
                        row-gap: 13.36px;
                        padding: 17px 15px 28.5px 20.5px;
                    }

                    @media(max-width: 320px) {
                        row-gap: 10.5px;
                        padding: 0 15px 38px 15px;
                    }

                    .payment__input {
                        background: rgba(255, 255, 255, 0.5);
                        border: 1px solid rgba(130, 130, 130, 0.4);
                        border-radius: 6px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 15px;
                        line-height: 18px;
                        color: rgba(130, 130, 130, 0.85);
                        padding: 15px 0 12px 18px;

                        @media(min-width:321px) and (max-width: 768px) {
                            border-radius: 5.34px;
                            font-size: 13px;
                            line-height: 16px;
                            padding: 13px 0 11px 17px;
                        }

                        @media(max-width: 320px) {
                            font-size: 11px;
                            line-height: 13px;
                            padding: 12px 0 9px 14px;
                        }

                        &--block {
                            display: flex;
                            column-gap: 15px;

                            @media(min-width:321px) and (max-width: 768px) {
                                column-gap: 13.36px;
                            }

                            @media(max-width: 320px) {
                                column-gap: 11px;
                            }

                            .block-date {
                                width: 40%;
                            }

                            .block-cvc {
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cart__items {
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    max-width: 525px;
    width: 100%;

    @media(min-width:769px) and (max-width: 1440px) {
        margin-bottom: 0;
    }

    @media(min-width:321px) and (max-width: 768px) {
        margin-bottom: 0;
    }

    @media(max-width: 320px) {
        max-width: 320px;
        margin-bottom: 9px;
    }

    .item {
        border-bottom: 2px solid #FFFFFF;
        display: grid;
        grid-template-columns: 169px 1fr;
        column-gap: 10px;
        padding: 35px 25px 35px 47px;

        @media(min-width: 321px) and (max-width: 768px) {
            column-gap: 18px;
            padding: 35px 4px 35px 8px;
        }

        @media(max-width: 320px) {
            grid-template-columns: 66px 1fr;
            column-gap: 9px;
            padding: 13px 14px 12px 16px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            height: 50%;

            .item__title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 26px;
                line-height: 32px;
                color: #060606;
                margin-bottom: 5px;

                @media(max-width: 320px) {
                    font-size: 15px;
                    line-height: 18px;
                    margin-bottom: 3px;
                }
            }

            .item__size {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                font-size: 26px;
                line-height: 32px;
                color: #060606;

                @media(max-width: 320px) {
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }

        &__price {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 26px;
            line-height: 32px;
            color: #060606;
            display: flex;
            justify-content: flex-end;
            height: 50%;
            align-items: flex-end;

            @media(min-width:321px) and (max-width: 768px) {
                justify-content: flex-start;
            }

            @media(max-width: 320px) {
                font-size: 15px;
                line-height: 18px;
            }

        }

        &__image-wrapper {
            position: relative;

            &::before {
                content: '';
                display: block;
                padding-bottom: 113%;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.cart__costs {
    background: rgba(255, 255, 255, 0.5);

    .cost {
        border-bottom: 2px solid #FFFFFF;
        display: flex;
        padding: 27px 17px 6px 31px;
        justify-content: space-between;

        @media(min-width:321px) and (max-width: 768px) {
            padding-left: 37px;
        }

        @media(max-width: 320px) {
            padding: 15px 15px 12px 15px;
        }

        &__first {
            display: flex;
            flex-direction: column;

            .cost__title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 26px;
                line-height: 32px;
                color: #060606;

                @media(max-width: 320px) {
                    font-size: 15px;
                    line-height: 18px;
                    text-transform: capitalize;
                }
            }

            .cost__currency {
                font-family: 'Montserrat', sans-serif;
                font-weight: 300;
                font-size: 26px;
                line-height: 32px;
                color: #060606;

                @media(max-width: 320px) {
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }

        &__price {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 26px;
            line-height: 32px;
            color: #060606;

            @media(max-width: 320px) {
                font-size: 15px;
                line-height: 18px;
            }
        }
    }

    .cart__bottom {
        background: rgba(255, 255, 255, 0.5);
        padding: 25px 0 58px;
        display: flex;
        flex-direction: column;

        @media(min-width:321px) and (max-width: 768px) {
            padding-bottom: 49px;
        }

        @media(max-width: 320px) {
            padding: 15px 0 16px;
        }

        .cart__button {
            background: #0E0E0F;
            border-radius: 6px;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            padding: 16px 0;
            max-width: 336px;
            width: 100%;
            margin: 0 auto 32px;
            border: none;
            text-align: center;
            display: block;
            cursor: pointer;

            @media(min-width:321px) and (max-width: 768px) {
                margin-bottom: 24px;
            }

            @media(max-width: 320px) {
                font-size: 10px;
                line-height: 13px;
                padding: 8.5px 0;
                max-width: 118px;
                margin-bottom: 15px;
            }
        }

        .cart__terms {
            font-family: 'Inter', sans-serif;
            font-size: 15px;
            line-height: 18px;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 7px;
            color: rgba(130, 130, 130, 0.85);
            justify-content: center;

            @media(min-width:321px) and (max-width: 768px) {
                gap: 30px;
                padding: 0 10px 0 34px;
            }

            @media(max-width: 320px) {
                gap: 18px;
                padding: 0 20px 0 15px;
            }

            .cart__checkbox {
                appearance: none;
                background-color: #fff;
                margin: 0;
                width: 19px;
                height: 19px;
                border: 1px solid rgba(112, 112, 112, 0.4);
                transform: translateY(-0.3em);
                display: grid;
                place-content: center;

                @media(min-width:321px) and (max-width: 768px) {
                    transform: translateY(0.3em);
                    width: 17px;
                    height: 17px;
                }

                @media(max-width: 320px) {
                    transform: translateY(0.3em);
                }

                &::before {
                    content: "";
                    width: 19px;
                    height: 19px;
                    transform: scale(0);
                    background-color: #000000;

                    @media(min-width:321px) and (max-width: 768px) {
                        width: 17px;
                        height: 17px;
                    }
                }

                &:checked::before {
                    transform: scale(1);
                }

                &:checked {
                    border: 1px solid #000000;
                    width: 25px;
                    height: 25px;

                    @media(min-width:321px) and (max-width: 768px) {
                        width: 23px;
                        height: 23px;
                    }
                }
            }

            .cart__link {
                text-decoration: none;
                color: #0B5DC3;
            }
        }
    }
}