* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkout {
  background: #F5F5F5;
}
.checkout .checkout__container {
  display: flex;
  max-width: 1745px;
  margin: 0 auto;
}
.checkout .checkout__section {
  width: calc((100% - 168px) / 3);
}

.address {
  background: rgba(255, 255, 255, 0.5);
  padding: 21px 31px 21px 28px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-right: 84px;
  max-width: 421px;
  width: 100%;
}
.address .address__title {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.address .address__title .address__title-mrs {
  border: 1px solid #000000;
  border-radius: 6px 0px 0px 6px;
  padding: 13.5px 20px;
}
.address .address__title .address__title-mr {
  color: #fff;
  background: #000000;
  border-radius: 0px 6px 6px 0px;
  border: 1px solid #000000;
  padding: 13.5px 24px;
}
.address__input {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(130, 130, 130, 0.4);
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: rgba(130, 130, 130, 0.85);
  padding: 15px 0 12px 18px;
}
.address__input:focus {
  outline: none;
}
.address__input--block {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.address__input--block .block-street {
  width: 65%;
}
.address__input--block .block-house {
  width: 35%;
}
.address__input--block .block-zip {
  width: 45%;
}
.address__input--block .block-city {
  width: 55%;
}
.address__checkbox-group {
  margin-bottom: 33px;
}
.address .address__checkbox-wrapper {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 12px;
  padding-top: 5px;
  margin-bottom: 10px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 18px;
}
.address .address__checkbox-wrapper .address__checkbox {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(112, 112, 112, 0.4);
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: grid;
  place-content: center;
}
.address .address__checkbox-wrapper .address__checkbox::before {
  content: "";
  display: block;
}
.address .address__checkbox-wrapper .address__checkbox:checked::before {
  width: 7px;
  height: 10px;
  margin: 0px 5px 3px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: rotate(45deg);
}
.address__password {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-left: 28px;
}
.address__password-text {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
}

.payments {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: 124px;
  max-width: 421px;
  width: 100%;
}
.payments .payment {
  background: rgba(255, 255, 255, 0.5);
}
.payments .payment__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payments .payment__info-group {
  display: flex;
  align-items: center;
}
.payments .payment__info-checkbox-wrapper {
  margin-right: 20px;
}
.payments .payment__info-checkbox-wrapper .payment__info-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(112, 112, 112, 0.4);
  width: 25px;
  height: 25px;
  transform: translateY(-0.3em);
  display: grid;
  place-content: center;
}
.payments .payment__info-checkbox-wrapper .payment__info-checkbox::before {
  content: "";
  width: 19px;
  height: 19px;
  transform: scale(0);
  background-color: #000000;
}
.payments .payment__info-checkbox-wrapper .payment__info-checkbox:checked::before {
  transform: scale(1);
}
.payments .payment__info-checkbox-wrapper .payment__info-checkbox:checked {
  border: 1px solid #000000;
}
.payments .payment__info-wrapper {
  width: 62px;
  height: 39px;
  border: 1px solid rgba(130, 130, 130, 0.85);
  border-radius: 6px;
  margin: 0 15px 0 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.payments .payment__info-text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.85);
  margin: 33px 0;
}
.payments .payment__info .wrapper {
  width: 100%;
}
.payments .payment__info .wrapper .card {
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payments .payment__info .wrapper .payment__form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 19px 17px 32px 23px;
  width: 100%;
}
.payments .payment__info .wrapper .payment__form .payment__input {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(130, 130, 130, 0.4);
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: rgba(130, 130, 130, 0.85);
  padding: 15px 0 12px 18px;
}
.payments .payment__info .wrapper .payment__form .payment__input--block {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.payments .payment__info .wrapper .payment__form .payment__input--block .block-date {
  width: 40%;
}
.payments .payment__info .wrapper .payment__form .payment__input--block .block-cvc {
  width: 60%;
}

.cart__items {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  max-width: 525px;
  width: 100%;
}
.cart__items .item {
  border-bottom: 2px solid #FFFFFF;
  display: grid;
  grid-template-columns: 169px 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 35px 25px 35px 47px;
}
.cart__items .item__info {
  display: flex;
  flex-direction: column;
  height: 50%;
}
.cart__items .item__info .item__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #060606;
  margin-bottom: 5px;
}
.cart__items .item__info .item__size {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #060606;
}
.cart__items .item__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #060606;
  display: flex;
  justify-content: flex-end;
  height: 50%;
  align-items: flex-end;
}
.cart__items .item__image-wrapper {
  position: relative;
}
.cart__items .item__image-wrapper::before {
  content: "";
  display: block;
  padding-bottom: 113%;
}
.cart__items .item__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.cart__costs {
  background: rgba(255, 255, 255, 0.5);
  max-width: 526px;
  width: 100%;
}
.cart__costs .cost {
  border-bottom: 2px solid #FFFFFF;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 27px 17px 6px 31px;
  justify-content: space-between;
}
.cart__costs .cost__first {
  display: flex;
  flex-direction: column;
}
.cart__costs .cost__first .cost__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #060606;
}
.cart__costs .cost__first .cost__currency {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  color: #060606;
}
.cart__costs .cost__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #060606;
}
.cart__costs .cart__bottom {
  background: rgba(255, 255, 255, 0.5);
  padding: 25px 0 58px;
  display: flex;
  flex-direction: column;
}
.cart__costs .cart__bottom .cart__button {
  background: #0E0E0F;
  border-radius: 6px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 0;
  max-width: 336px;
  width: 100%;
  margin: 0 auto 29px;
  border: none;
  text-align: center;
  display: block;
  cursor: pointer;
}
.cart__costs .cart__bottom .cart__terms {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  gap: 7px;
  color: rgba(130, 130, 130, 0.85);
  justify-content: center;
}
.cart__costs .cart__bottom .cart__terms .cart__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(112, 112, 112, 0.4);
  transform: translateY(-0.3em);
  display: grid;
  place-content: center;
}
.cart__costs .cart__bottom .cart__terms .cart__checkbox::before {
  content: "";
  width: 19px;
  height: 19px;
  transform: scale(0);
  background-color: #000000;
}
.cart__costs .cart__bottom .cart__terms .cart__checkbox:checked::before {
  transform: scale(1);
}
.cart__costs .cart__bottom .cart__terms .cart__checkbox:checked {
  border: 1px solid #000000;
}
.cart__costs .cart__bottom .cart__terms .cart__link {
  text-decoration: none;
  color: #0B5DC3;
}/*# sourceMappingURL=style.css.map */